<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<body>

	<div th:fragment="header_menu">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{${SITE_LOGO}}" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Experience</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
							aria-expanded="false">
							Services
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Smart Fibre</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/login}">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/register}">Register</a>
					</li>

				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
	</div>

	<div th:fragment="footer_menu">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bottomNavbar"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto" id="bottomNavbar">

					<li class="nav-item">
						<a class="nav-link" href="#">About Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Privacy Notice</a>
					</li>


					<li class="nav-item">
						<a class="nav-link" href="#">Contact Us</a>
					</li>


				</ul>

			</div>
		</nav>

		<div th:fragment="search_nav" class="row">
			<div class="col-md">
				<th:block sec:authorize="isAuthenticated()">
					<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
						<input type="submit" value="Logout" />
					</form>
				</th:block>

				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" href="#">Navbar</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="get">
						<input class="form-control mr-sm-2" type="search" placeholder="keyword" aria-label="Search"
							th:value="${keyword}" />
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<th:block sec:authorize="isAuthenticated()">
								<li class="nav-item active">
									<b><a class="nav-link" th:href="@{/customer}" sec:authentication="principal.fullName" > </a></b>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Addresses</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Questions</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="javascript: document.logoutForm.submit()">Logout</a>
								</li>
								
								
							</th:block>
						</ul>

					</div>
				</nav>

			</div>
		</div>

		<div th:fragment="footer">
			<p>[[${COPYRIGHT}]]</p>
		</div>
	</div>

</body>

</html>