<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Settings - Atis Admin')" >
  <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" />
  <script th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>


<body class="container-fluid">
    <div th:replace="navigation :: menu"></div>
	<div>
		<h2>Site Settings</h2>
	</div>
	
	<div th:if="${message != null}" class="alert alert-success text-center"> [[${message}]]</div>


	<div>

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="home-tab" data-toggle="tab" href="#general" type="button"
					role="tab" aria-controls="home" aria-selected="true">General</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="profile-tab" data-toggle="tab" href="#country" type="button"
					role="tab" aria-controls="profile" aria-selected="false">Country</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="messages-tab" data-toggle="tab" href="#counties" type="button"
					role="tab" aria-controls="messages" aria-selected="false">Counties</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="settings-tab" data-toggle="tab" href="#mailServer" type="button"
					role="tab" aria-controls="settings" aria-selected="false">Mail Server</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="settings-tab" data-toggle="tab" href="#mailTemplates" type="button"
					role="tab" aria-controls="settings" aria-selected="false">Mail Templates</button>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane active" id="general" role="tabpanel" >
			  <div th:replace="settings/general :: content" />
			</div>
			<div class="tab-pane p-3" id="country" role="tabpanel" >
			<div th:replace="settings/countries :: content" />
			</div>
			<div class="tab-pane p-3" id="counties" role="tabpanel" >
			<div th:replace="settings/counties :: content" />
			</div>
			<div class="tab-pane" id="mailServer" role="tabpanel" >
			<div th:replace="settings/mail_server :: content" />
			</div>
			<div class="tab-pane" id="mailTemplates" role="tabpanel" >
			<div th:replace="settings/mail_templates/mail_templates :: content" />
			</div>
		</div>		
	</div>
	
	
	<div class="toast justify-content-center d-flex" role="alert" aria-live="polite" aria-atomic="true" data-delay="3000">
  <div role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
      <span id="toastMessage" ></span>
    </div>
  
  </div>
</div>
	
	<div  th:replace="fragments :: footer"></div>
	
	
<script type="text/javascript">
 MAX_FILE_SIZE = 102400;
 contextPath = "[[@{/}]]";
 var csrfHeaderName="[[${_csrf.headerName}]]";
 var csrfValue = "[[${_csrf.token}]]";
 
 $(document).ready(function() {
	$("#customerVerificationContent").richText();
});
 
 </script>
 
<script th:src="@{/js/common_form.js}"></script>
<script th:src="@{/js/countries_settings.js}"></script>
<script th:src="@{/js/counties_settings.js}"></script>

</body>

</html>